<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeerApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13EE6D6F25BC6489001AB6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13EE6D8525BC648B001AB6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13EE6D9025BC648B001AB6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
